@font-face {
    font-family: 'alegreya_scregular';
    src: url('fonts/alegreya/alegreyasc-regular-webfont.woff2') format('woff2'),
         url('fonts/alegreya/alegreyasc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 700px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 50vw;
    height: 95vh;
    background: url(images/ocean.jpg) no-repeat center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.form-container {
    padding: 20px;
    width: 100%;
    font-family: "Spectral", serif;
}

.login {
    text-decoration: none;
    color: #9039da;
    font-weight: 700;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 100px;
    background: rgb(2, 3, 36, 0.5);
}

.logo-text {
    font-family: 'alegreya_scregular', sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: white;
}

.logo-img {
    width: 20%;
}

.img-credits {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 12px;
}

.img-credits a {
    color: inherit;
    
}

label {
    font-size: 12px;
}

button {
    padding: 10px;
    font-weight: 600;
    margin: 5px 0;
    font-size: 14px;
    border-radius: 3px;
    border: 0;
    background-color: #874ebb;
    box-shadow: #51306f 3px 3px 10px;
    color: white;
}

.form-row:first-of-type {
    margin-top: 5px;
}

.form-row:last-of-type {
    margin-bottom: 30px;
}

.signup-message:last-of-type {
    margin-bottom: 30px;
}

